*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgba(255, 255, 255, .9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 10px;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
    min-height: 30px;
}

.display .current-operand {
    color: white;
    font-size: 2.5rem;
}

button {
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.operator {
    background-color: #FFB700;
    color: white;
}

.operator:hover {
    background-color: #FFC730;
}

.equals {
    background-color: #00AAFF;
    color: white;
}

.equals:hover {
    background-color: #33BBFF;
}

.clear, .delete {
    background-color: #FF3855;
    color: white;
}

.clear:hover, .delete:hover {
    background-color: #FF5C75;
}
