* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image {
    background-image: url('../images/homeImage.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #01161E;
    
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    font-weight: 800;
    margin:0 20px;
    text-decoration: none;
    color: #92E3A9;
}

nav ul li a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #92E3A9;
    padding: 15px;
    border-radius: 5px;
}

#logo img {
    height: 80px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.bg-gl {
    background-color: #CEB5A7;
    height: 100vh;
    padding: auto;
}

#banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.container img {
    height: 230px;
}

.item {
    background-color: #f0f0f0;
    padding: 10px;
    grid-row: span 2;
    grid-column: span 2;
    border-radius: 5px;
}

main{
    margin: 40px;
}

form {
  max-width: 700px;
  width: 100%;
  margin:auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding:   
 10px;
  border: 1px solid   
 #ccc;
}

textarea {
    height: 100px;
}

input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
iframe {
    margin: 50px 0 0 0;
}
.input-field {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}